
\.idea/

EntertainmentDatabase\.Core/obj/

EntertainmentDatabase\.Services/obj/

EntertainmentDatabase\.Services/bin/

EntertainmentDatabase\.Core/bin/

\.vs/EntertainmentDatabase/DesignTimeBuild/

\.vs/EntertainmentDatabase/v16/
