
\.idea/

EntertainmentDatabase\.Core/obj/

EntertainmentDatabase\.Services/obj/

EntertainmentDatabase\.Services/bin/

EntertainmentDatabase\.Core/bin/

\.vs/EntertainmentDatabase/DesignTimeBuild/

\.vs/EntertainmentDatabase/v16/

EntertainmentDatabase\.IntegrationTests/bin/

EntertainmentDatabase\.IntegrationTests/obj/

EntertainmentDatabase\.UnitTests/bin/

EntertainmentDatabase\.UnitTests/obj/
